{{define "content"}}
<div class="vertical-container">
  <div id="content" class="content fit">
    <h3> Origins of the Formulabun srb2kart server </h3>
    <p>
    Formula bun started as a private srb2kart server between friends who all met in the game.
    I started hosting it because the public EU servers at the time weren't up to our standars.
    </p>
    <p>
    When the server became more mature I decided to open it up to the public.
    It received a lot of traffic, filling up the server almost daily.
    </p>
    <p>
    However, I started to lose interest in the game, and my own enthousiasm to play the game and update the server decreased.
    </p>
    <p>
    When the 1.4 version of srb2kart rolled out I was quick to update the server.
    This update came with an annoying netgame instability I was unable to do anything against.
    </p>
    <p>
    This ruined my motivation even more and I decided to bring the srb2kart server offline.
    </p>
    <p>
    After some months (and another srb2kart version) I opened the server again, to a limited number of players. 
    This is the current situation of the server, and I think it is better like this.
    An unpopular server is a lower burden on me and my limited motivation.
    </p>
    <p>
    Now it is just a silly personal project in hosting, and an environment for some developments, like this site.
    </p>
  </div>
  <div class="content fit">
    <h3> Links </h3>
    <ul>
      <li> discord: Fl_GUI#5136 </li>
      <li> discord server: <a href="http://discord.formulabun.club"> discord.formulabun.club </a> </li>
      <li> email: <a href="mailto://formulabun@gmail.com"> formulabun@gmail.com </a> </li>
      <li> srb2kart server: <a href="srb2kart://formulabun.club"> formulabun.club </a> </li>
      <li> code: <a href="http://github.com/formulabun"> github.com/formulabun </a> </li>
      <li> documentation: <a href="http://godoc.formulabun.club/pkg/go.formulabun.club"> go.formulabun.club </a> </li>
    </ul>
  </div>
</div>
<div class="vertical-container">
  <div id="content" class="content fit">
    <h3> Discord Bot </h3>
    <p>
    The best integration for the formulabun server is, in my opinion, the discord bot.
    If you want help running this bot for your own server feel free to reach out and I'll be glad to help.
    </p>
  </div>
  <div id="content" class="content fit">
    <h3> Technologies and service hosting formulabun </h3>
    <p> Formulabun is being hosted on a VPS by contabo that is running an ubuntu 20 image. </p>
    <p>
    The srb2kart instance is running in a docker container from a docker compose setup.
    This same docker compose setup also contains some small services written in golang.
    Docker compose is basically just used to save the command line parameters for docker.
    </p>
    <p>
    The golang code resides in multiple packages, all with the go.formulabun.club prefix.
    That url redirects the go command to the github hosting the code, but redirects browsers to godoc.formulabun.club.
    The latter url contains documentation for the go packages as is generated by the godoc tool.
    </p>
  </div>
</div>
<div class="vertical-container">
  <div id="content" class="content fit">
    <h3> Past features </h3>
    <p> One of the most successful features of the formulabun were the random events </p>
    <p>
    With this, every evening a new srb2kart gameplay modification would be activated.
    These modifications included elimination, hpmod, combi, battle and some special combinations.
    It was inspired by the real karting hours of the aqua server (I think) that turned the kart speed to hard in the evening.
    </p>
    <p>
    This kept interest in the mods fresh, but only for some time.
    People would eventually grow annoyed with a couple of mods and refuse to play on the server the nights it was active.
    This basically split up the player base into niches, so some players would end up barely playing together.
    There was also a bit of hate on the announcement of the daily event by people not wanting to play it.
    I'm sure they did not have any negative intent but reading those reactions wasn't nice.
    I took it too personal and tried tweaking the probability of the events.
    One mistake of me was trying to appeal to everyone's preferences, hence this system.
    </p>
    <p>
    Other custom features are mods I developed myself.
    The best received one is a different way of doing battle, where it is point based instead of life based.
    This mod, other experiments, and tweaks to existing mods are available in a github repository.
    </p>
  </div>
</div>
<div class="vertical-container">
  <div id="content" class="content fit">
    <h3> My background </h3>
    <p>
    I started hosting this server in 2021.
    This was also the last year of my master's degree in computer science engineering.
    I somehow finished my degree in the same year despite the game not helping much.
    </p>
    <p>
    I've written plenty of programs in a multitude of programming languages, but never had I rented a server before.
    </p>
    <p>
    Fortunately I was quite experienced with the linux environment since this was my main OS throughout university.
    Currently I am running Arch Linux btw.
    </p>
    <p>
    Developments around the server were first written in JavaScript, but I later pivoted to Go.
    </p>
  </div>
</div>
<div class="vertical-container">
</div>
{{end}}
