{{define "content"}}
<div id="contents" class="horizontal-container fill-flex">
  <div class="vertical-container">
    <div class="content">
      <h2> There are currently {{ if not .Players }} 0 {{else}} {{len .Players }} {{ end }}players racing </h2>
      <table style="width: inherit">
        {{ if .Players }}
        {{ range .Players }}
        <tr {{ if .IsSpectator }}class="spectator"{{ end }} >
          <td> {{ .PlayerName }} </td> <td> {{ .Score }} </td>
        </tr>
        {{ end }}
        {{ end }}
      </table>
    </div>
    <div class="content">
      <h3> Current map is {{ .ServerInfo.MapName }} </h3>
      <p> {{ .ServerInfo.Time }}" </p>
    </div>
  </div>
  <div class="vertical-container">
    {{ if .Maps }}
    <div class="content">
      <h3> Maps </h3>

      <div class="scroll-content"/>
      {{ range .Maps }} <a> {{ . }} </a> <br/> {{ end }}
      </div>

    </div>
    {{ end }}
  </div>
  <div class="verical-container">
    {{ if .Characters }}
    <div class="content">
      <h3> Characters </h3>

      <div class="scroll-content">
      {{ range .Characters }} <a> {{ . }} </a> <br/> {{ end }}
      </div>

    </div>
    {{ end }}
  </div>

  <div class="vertical-container">
      {{ if .Mods }}
    <div class="content">
      <h3> Mods </h3>

      <div class="scroll-content">
      {{ range .Mods }} <a> {{ . }} </a> <br/> {{ end }}
      </div>

    </div>
    {{ end }}
    {{ if .Other }}
    <div class="content">
      <h3> Others </h3>

      <div class="scroll-content">
      {{ range .Other }} <a> {{ . }} </a> <br/> {{ end }}
      </div>

    </div>
    {{ end }}
  </div>

</div>
{{end}}
